{% extends 'templates/default.jinja2' %}

 {% block body %}

    <!-- gallery start -->
    <div class="content homepage" id="menu-1">
    <div class="container">
	<div class="row templatemorow">

    {% for procedure, text in procedures.iteritems() %}
      <a href="javascript:DoPost('set_procedure', '{{procedure}}')" type="button" class="btn btn-primary">{{text}}</a>
    {% endfor %}

      {% for pin_id in pins_order %}
        <label class="checkbox">
          {{ pin_id }}
          <input pin_id="{{ pin_id }}" type="checkbox"
                class={% if pins[pin_id] %}"ios-switch checked" checked{% else %}"ios-switch"{% endif %}/>
        </label>
    {% endfor %}
    </div>
    </div>
    </div>


<script type="text/javascript">

    // iOS switch initiate
    var switches = document.querySelectorAll('input[type="checkbox"].ios-switch');
    for (var i=0, sw; sw = switches[i++]; ) {
        var div = document.createElement('div');
        div.className = 'switch';
        sw.parentNode.insertBefore(div, sw.nextSibling);
    };

    // iOS switch action
    $(".ios-switch").on("click", function() {
        var root = $(this)
        var pin_id = root.attr("pin_id")
        if (root.hasClass("checked")) {
            root.removeClass("checked");
            var action = "close_individual";
        } else {
            root.addClass("checked");
            var action = "open_individual";
        }
        DoPost(action, pin_id);
    });

    // send command
    function DoPost(action, entity) {
        $.post("/commands", {"action": action, "entity": entity})
    };

</script>
 {% endblock %}


