{% extends 'templates/default.jinja2' %}

 {% block body %}

    <!-- gallery start -->
    <div class="content homepage" id="menu-1">
    <div class="container">
	<div class="row templatemorow">

        <a href="http://raspberry.aquanet.ro/set_procedure/movie" type="button" class="btn btn-primary">Movie</a>
        <a href="http://raspberry.aquanet.ro/set_procedure/lights_on" type="button" class="btn btn-primary">Lights ON</a>
        <a href="http://raspberry.aquanet.ro/set_procedure/lights_off" type="button" class="btn btn-primary">Lights OFF</a>
        <a href="http://raspberry.aquanet.ro/set_procedure/reset" type="button" class="btn btn-primary">Reset</a>

    </div>
    </div>
    </div>
 {% endblock %}


