{% extends 'templates/default.jinja2' %}

 {% block body %}

    <!-- gallery start -->
    <div class="content homepage" id="menu-1">
    <div class="container">
	<div class="row templatemorow">

        <a href="http://raspberry.aquanet.ro/set_procedure/movie" type="button" class="btn btn-primary">Movie Time</a>
        <a href="http://raspberry.aquanet.ro/set_procedure/lights_on" type="button" class="btn btn-primary">Lumini ON</a>
        <a href="http://raspberry.aquanet.ro/set_procedure/lights_off" type="button" class="btn btn-primary">Lumini OFF</a>
        <a href="http://raspberry.aquanet.ro/set_procedure/schimb_apa" type="button" class="btn btn-primary">Schimb Apa</a>
        <a href="http://raspberry.aquanet.ro/set_procedure/reset" type="button" class="btn btn-primary">Reset</a>

   <p>
   Lights
   <label class="sliderLabel" data-pin="865">
        <span class="slider">
            <span class="sliderOn">ON</span>
            <span class="sliderOff">OFF</span>
            <span class="sliderBlock"></span>
        </span>
    </label>
    </p>
    <label class="sliderLabel" data-pin="830">
        LEDs
        <span class="slider">
            <span class="sliderOn">ON</span>
            <span class="sliderOff">OFF</span>
            <span class="sliderBlock"></span>
        </span>
    </label>


    </div>
    </div>

    </div>

    <div class="checkboxes">
      <label class="checkbox">Som<input type="checkbox" class="ios-switch" /></label>
      <label class="checkbox">Som<input type="checkbox" class="ios-switch checked" /></label>
    </div>

<script type="text/javascript">
    var switches = document.querySelectorAll('input[type="checkbox"].ios-switch');
    for (var i=0, sw; sw = switches[i++]; ) {
        var div = document.createElement('div');
        div.className = 'switch';
        sw.parentNode.insertBefore(div, sw.nextSibling);
    }

    function set_command(status) {
        $.ajax({
            url: "http://raspberry.aquanet.ro/temperature/" + status,
        })
    }

    $(".ios-switch").on("click", function() {
        var root = $(this)
        if (root.hasClass("open")) {
            root.removeClass("open")
            set_command("close")
        } else {
            root.addClass("open")
            set_command("open")
        }
    })




    function plt(pin_id, status, on_success) {
      // root.addClass("disable")
      // if root.hasClass("disable") return false;
      $.ajax({
        url: "http://raspberry.aquanet.ro/pin/" + pin_id + "/" + status,
        success: on_success

      })
    }
    function on_error() {
        console.log("turn red")
    }
    $(".sliderBlock").on("click", function() {
        var root = $(this).closest(".sliderLabel");
        var checked = root.hasClass("open");
        var pin_id = root.attr("data-pin");
        if (checked) {
            plt(pin_id, "close", function() {
                root.removeClass("open");
            })
        } else {
            plt(pin_id, "open", function() {
                 root.addClass("open");
            })
        };
    });
</script>
 {% endblock %}


