{% extends 'templates/default.jinja2' %}

 {% block body %}

    <!-- gallery start -->
    <div class="content homepage" id="menu-1">
    <div class="container">
	<div class="row templatemorow">

    {% for class, image in images1 %}
    <div class="{{ class }}">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
            <div class="hexagon-in2" style="background-image: url(images/gallery/{{ image }}_small.jpg);">
              <div class="overlay">
              <a href="images/gallery/{{ image }}.jpg" data-rel="lightbox" class="fa fa-expand"></a>
			  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
    </div>
	</div>


    <div  id="newpost" style="display:none;" class="container answer_list templatemo_gallerytop">
	<div class="row templatemorow">
    {% for class, image in images2 %}
    <div class="{{ class }}">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
            <div class="hexagon-in2" style="background-image: url(images/gallery/{{ image }}_small.jpg);">
              <div class="overlay">
              <a href="images/gallery/{{ image }}.jpg" data-rel="lightbox" class="fa fa-expand"></a>
			  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}

    	</div>
	</div>
    <div class="container">
    	<div class="row">
        	<div class="templatemo_loadmore">
			 <button class="gallery_more" id="button" onClick="showhide()">Load More</button>
            </div>
        </div>
    </div>
    </div>
      <!-- gallery end -->
 {% endblock %}

 {% block footer_scripts %}
	<script>
	$('.gallery_more').click(function(){
		var $this = $(this);
		$this.toggleClass('gallery_more');
		if($this.hasClass('gallery_more')){
			$this.text('Load More');
		} else {
			$this.text('Load Less');
		}
	});
    </script>
 {% endblock %}
