
{% block body_scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=start"> </script>

{% endblock %}


{% block body %}

<div>
  <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
    <a href='javascript:sendTokenToServer()'>Facebook login</a>
  </fb:login-button>
</div>
<div id="result"></div>

{% endblock %}

{% block footer_scripts %}
  <script src="/js/app.js"></script>
{% endblock %}

